/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* input {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
} */

.table.no-border tr td,
.table.no-border tr th {
    border-width: 0;
}
.table tr th{
    text-align: center
}
.bg-a4 {
    border-bottom: 1px rgb(52, 231, 255);
    background: rgb(52, 231, 255)
}

.bg-a3 {
    background: rgb(52, 255, 130)
}

.bg-a2 {
    background: rgb(252, 255, 52)
}

.bg-a1 {
    background: rgb(255, 126, 52)
}

.bg-a0 {
    background: rgb(255, 59, 52)
}
.paper{
    text-align: center;
    vertical-align: middle
}